#banner1Text {
  text-align: center;
  height: 30px;
  margin: 3px;
}

#rateOutput {
  margin-top: 100px;
  margin-bottom: 20px;
  height: 85%;
  font-size: 20px;
}

#choose {
  text-align: center;
  padding: 5px;
  font-size: 15px;
}

#banner2Text {
  text-align: center;
  height: 30px;
  margin: 3px;
}

#userEntry {
  margin-top: 100px;
  font-size: 20px;
  height: 85%;
}

#usDollar, #findRate {
  margin: 20px;
}

#banner3Text {
  text-align: center;
  height: 30px;
  margin: 3px;
}

#exchangeOutome {
  margin-top: 100px;
  height: 85%;
  font-size: 20px;
}

#displayExchange {
  text-align: center;
  margin-top: 100px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}


